.App {
  font-family: sans-serif;
  text-align: center;
}

.welcome {
  /* color: crimson; */
  font-family: "Pacifico", cursive;
}

.user-profile-pic {
  height: 300px;
  width: 300px;
  /* Zoom in */
  object-fit: cover;
  border-radius: 50%;
}
